.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 250;
  background-color: $white;
  display: flex;
  padding: 18px 0;
  box-shadow: 0px 4px 20px rgba($color: $black, $alpha: 0.3);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
